input {
  // display: block;
  font-family: inherit;
  font-size: 14px;
  // width: 100%;
  // height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  // padding: 10px 15px;
  padding-left: 10px;
  
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  // margin-bottom: 20px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}
div{
  display: flex;
  margin-bottom: 5px;
}
label{
  min-width: 50px;
}
.radio-label{
  width: 50px;
}

  /*radio++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  .radio{    
    display: inline-block;
    width:18px;
    height:18px;
    border-radius:50%;
    background-color:#ffffff;
    border:2px solid #3498DB;
    text-align:center;
    cursor:pointer;    
    -webkit-user-select: none;
    user-select: none;
    -webkit-transform:translate(-2px,3px);
    transform:translate(-2px,3px);
  
  }
  
  .radio.sm{
    width:14px;
    height:14px;
    -webkit-transform:translate(-2px,3px);
    transform:translate(-2px,3px);
  }
  .radioWrap{
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .radioWrap:hover .radio{
      border-color:rgba(52, 152, 219, 0.938);
  }
  .radioWrap>input{
      display: none;
  }
  .radioWrap>input:checked+.radio{
    background-color:#3498DB;
    border-color:#3498DB;
    box-shadow:0 0 0 3px #ffffff inset;
  }
  .radioWrap:hover>input:checked+.radio{
      background-color:rgba(52, 152, 219, 0.938);
      border-color:rgba(52, 152, 219, 0.938);
  }

  .radioWrap>input:disabled+.radio{
    background-color:#d3d4e2;
    border-color:#d3d4e2;
    box-shadow:0 0 0 3px #ffffff inset;
  }

  
  .radioWrap>input:checked+.radio.sm{
    background-color:#3498DB;
    border-color:#3498DB;
    box-shadow:0 0 0 2px #ffffff inset;
  }

  .radioWrap:hover>input:checked+.radio.sm{
    background-color:rgba(52, 152, 219, 0.938);
    border-color:rgba(52, 152, 219, 0.938);
  }

  .radioWrap>input:disabled+.radio.sm{
    background-color:#d3d4e2;
    border-color:#d3d4e2;
    box-shadow:0 0 0 2px #ffffff inset;
  }
