/* You can add global styles to this file, and also import other style files */

body{
	padding:0;	
	font-family: 微软雅黑!important;
	font-size:14px;
	color:#2C3E50;
	margin: 0;
}
body *{
	font-family: 微软雅黑!important;
}
body div{
	box-sizing: border-box;
	
}

.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.fixed{
	position: fixed;
}
.pointer{
	cursor:pointer;
}
.scrollbar-override::-webkit-scrollbar {
	width: 13px;
	height: 10px;
	overflow: hidden;
	transition:all 3s linear;
}
.scrollbar-override::-webkit-scrollbar-thumb{
	transition:all 3s linear;
}
.scrollbar-override:hover::-webkit-scrollbar-thumb:hover{
	background-color: #bbb;
	transition:all 3s linear;
}
.scrollbar-override:hover::-webkit-scrollbar-thumb{
	background-color: #ccc;
	transition:all 3s linear;
}
button {
	letter-spacing: -0.5px;
	cursor: pointer;
	
	outline: 0;
	line-height: 1;
	text-align: center;
	padding: 12px 30px;
	font-size: 15px;
	font-weight: 600;
	border-radius: 2px;
	display: inline-block;
	border: none;
	color: #fff;
	transition: background-color .3s, box-shadow .3s;
}
button:hover {
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
button.purple {
	background-color: #9d62c8;
}
button.purple:hover {
	background-color: #a46dcc;
}
button.warn {
	background-color: #f44336;
}
button.blue{
	background-color: #3498DB
}


button:disabled {
	background: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.4);
	cursor: not-allowed;
	box-shadow: none;
}

@font-face {
	font-family: 'iconfont2';  /* project id 105016 */
	src: url('http://at.alicdn.com/t/font_105016_us8m9c4y3rk.eot');
	src: url('http://at.alicdn.com/t/font_105016_us8m9c4y3rk.eot?#iefix') format('embedded-opentype'),
	url('http://at.alicdn.com/t/font_105016_us8m9c4y3rk.woff') format('woff'),
	url('http://at.alicdn.com/t/font_105016_us8m9c4y3rk.ttf') format('truetype'),
	url('http://at.alicdn.com/t/font_105016_us8m9c4y3rk.svg#iconfont2') format('svg');
  }
.iconfont{
    font-family:"iconfont2" !important;
	font-size:16px;
	font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.fontSmall{
	font-size:14px;
}


.color-gray{
	color: #999999;
}

.f{
	display: flex;
}
.fr {
	flex-direction: row;
}
.fc {
	flex-direction: column;
}
.aic {
	align-items: center;
}
.ais {
	align-items: stretch;
}
.jcc {
	justify-content: center;
}
.jcsa {
	justify-content: space-around;
}
.jcsb {
	justify-content: space-between;
}

.audio-running{
	animation-play-state: running!important;
}
.audio-paused{
	animation-play-state: paused!important;
}