<div id="bottom-bar">

    <div class="edit-message-wrap">
      <div class="row-index edit-message">
        时长 {{ duration() }} s
      </div>
      <div class="column-index edit-message">
        帧频 {{ fps() }}
      </div>
      <!--
      <div class="charset edit-message">
        UTF-8
      </div>
      <div class="language edit-message" >
        language
      </div>
      -->
    </div>
    <!--
    <div class="edit-message-wrap">
      <div class="edit-message">
        图片等
      </div>    
    </div>
    -->
  </div>
  