:host {
	background-color:#2B2B2B;
}
#left-bar {
	width:50px;
	color:#aaa;
}
#template-show-trigger {
	width:40px;
	height:40px;
	/* border-radius:50%;
	background-color: #9d62c8;
	border:2px solid white;
	margin-left: 5px;
	margin-top: 10px;
	cursor: pointer;*/
	color: #eeeeee;
	font-size: 30px;
    text-align: center;
	margin: 16px 3px;
	margin-bottom: 30px;
	cursor: pointer;
}