input {
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  display:none
  
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}
.form-image-wrap{
  width: 100px;
  height: 100px;
  background-color: white;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
}
label {
  display: flex;
  align-items: stretch;
  // flex: 1;
}
.image-input {
  // display: flex;
  background-color: white;
  border:1px solid rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 10px;
}
.image-input-input {
  /* display: none; */
  width:0;
  height: 0;
  padding:0;
}
.form-image-image{
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
}
.image-input-attr{
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
}
.image-input-attr span{
  width: 100px;
  padding-left: 10px;
}
.image-input-attr input{
  flex: 1;
}