/* input {
  font-family: inherit;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  // padding: 10px 15px;
  padding-left: 10px;
  
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}*/
div{
  display: flex;
  margin-bottom: 5px;
}
.label{
  width: 50px;
}
  /*checkbox++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.checkbox-wrap{
    display: inline-block;
    padding-right: 10px;
}
.checkbox-wrap .checkbox-rect{
    position:relative;
    display: inline-block;
    background-color:#ffffff;
    border:2px solid #aaa;
    text-align:center;
    color:#ffffff;
    font-size:14px;
    line-height:16px;
    border-radius:2px;
    width:16px;
    height:16px;
    line-height:12px;
    -webkit-user-select: none;
    user-select: none;
    top: 8px;
    
}
.checkbox-wrap>input{
    display:none;
}
.checkbox-rect:after{
    width: 4px;
    height: 8px;
    position: absolute;
    top: 0px;
    left: 3px;
    border: 2px solid #ffffff;
    border-top: 0;
    border-left: 0;
    opacity: 0;
    transform: rotate(45deg) scale3D(.15,.15,1);
    transition: all .3s cubic-bezier(.55,0,.55,.2);
    content: " ";
}
.checkbox-wrap>input:checked+.checkbox-rect{
    background-color:#3498DB;
    border-color:#3498DB;
}
.checkbox-wrap>input:checked+.checkbox-rect:after{
    opacity: 1;
    transform: rotate(45deg) scale3D(1,1,1);
    transition: all .4s cubic-bezier(.25,.8,.25,1);
}

.checkbox-wrap.inverse>input:checked+.checkbox-rect{
    background-color:#ffffff;
    border:2px solid #aaa;
    color:#3498DB;  
}