:host {
	/* background-color:#1ABC9C;*/ 
	background-color:orange;
	height: 25px;
	position: relative;
}
#bottom-bar{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	color:white;
}
.edit-message-wrap{
	float:right;
	color:white;
}
.edit-message{
	display: inline-block;
	height:25px;
	line-height: 25px;
	font-size:12px;
	padding:0 5px;
}