
  <div id="action-bar">
    <div>
      <span [matMenuTriggerFor]="menu">出售中</span>
      <mat-menu #menu="matMenu" MenuPositionX="after" xPosition="after" (closed)="typeMenuClosed(e)">
          <button mat-menu-item >出售中</button>
          <button mat-menu-item >仓库中</button>
      </mat-menu>
    </div>
    
  </div>
  <div id="goods-contents">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">


  </div>

