
  <div id="action-bar">
    <!--类型-->
    <table>
      <tr>
        <td>
          <!--类型-->
          <div class="goods-type" [matMenuTriggerFor]="typeMenu">
            <span>{{goodsService.goodsType}}</span>
          </div>
          <mat-menu #typeMenu="matMenu" MenuPositionX="after" xPosition="after" (closed)="typeMenuClosed(e)">
            <button
              mat-menu-item
              *ngFor="let item of ['出售中', '仓库中']"
              (click)="selectType(item)"
            >{{item}}</button>
          </mat-menu>
        
          <!--类目-->
          <div class="goods-type" [matMenuTriggerFor]="categoryMenu" style="margin-left: 10px;">
              <span>{{goodsService.categoryName}}</span>
            </div>
            <mat-menu #categoryMenu="matMenu" MenuPositionX="after" xPosition="after" (closed)="typeMenuClosed(e)">
              <button
                mat-menu-item
                *ngFor="let item of goodsService.goodsCategorys"
                (click)="selectCategory(item)"
              >{{ item.name }}</button>
            </mat-menu>
        </td>
        <td style="float: right;margin-right: 10px;">
          <div class="goods-search-input">
            <input type="text" placeholder="关键字 宝贝链接 商家编码" [(ngModel)]="goodsService.searchValue">
            <button class="blue" (click)="search()">搜索</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id="goods-contents">
    <ng-container *ngIf="goodsService.lastAction == 'success'" >
      <!--宝贝列表-->
      <div class="image-dialog-goods-item" *ngFor="let item of goodsService.goodsList" style="width: 100%;">
        <table cellspacing="0" cellpadding="0" class="image-dialog-goods-table">
          <tr>
            <td>
              <img [src]="item.pic_url" alt="" style="" >
            </td>
            <td>
              <div>
                <span class="goods-title" (click)="openExternal(item.num_iid)" [title]="item.num_iid">
                  {{item.title}}
                </span>
                
              </div>
            </td>
            <td>
              <div class="goods-price">
                  ¥{{ item.price }}
              </div>
              <!--
              <div class="goods-num">
                {{ item.num }}
              </div>
              -->
            </td>
            <td>
              <span class="goods-show-more" (click)="showMore(item.num_iid)">更多</span>
            </td>
          </tr>
        </table>
        <div>
          <div *ngIf="goodsService.goodsMainPics['n' +item.num_iid ]">
            <!-- 加载成功 -->
            <ng-container *ngIf="goodsService.goodsMainPics['n' +item.num_iid ].lastAction == 'success'">
              <div
                *ngFor="let item of goodsService.goodsMainPics['n' +item.num_iid ].list"
                [ngClass]="{'goods-sub-img-block': true, 'active': item.url == goodsService.selectedGoods}"
                (click)="setGoods(item.url)"
              >
                <img [src]="item.url" alt="">
                <div class="checked-icon">
                  <span class="iconfont">
                      &#xe631;
                  </span>
                </div>
              </div>
            </ng-container>
            <!-- 加载失败 -->
            <ng-container *ngIf="goodsService.goodsMainPics['n' +item.num_iid ].lastAction == 'error'">
                <div style="width: 100px;height:100px;text-align: center;color: red;">
                  加载出错
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <content-notice
    *ngIf="goodsService.lastAction != 'success' || goodsService.count == 0"
      [lastAction]="goodsService.lastAction"
      [count]="goodsService.count"
    ></content-notice>

    <!--<img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    <img src="http://imgs.aixifan.com/content/2018_10_4/1.5386193577866096E9.png" alt="" style="width: 100px;height:100px;">
    -->

  </div>

