<div id="canvas-wrap" class="scrollbar-override">
	<!--<canvas id="canvas" width="800" height="800">
	</canvas>-->
	<app-canvas-space></app-canvas-space>
</div>
<div id="canvas-btn-wrap">
	{{ isPaused() }}
	<div class="button-row">
		<button class="iconfont" (click)="togglePlay()">
			&#xe61d; {{ isPaused() ? '播放' : '暂停' }}
		</button>
		<button mat-flat-button color="accent" (click)="reset()">reset</button>
		<button mat-flat-button color="warn" (click)="exFile()">导出</button>
	</div>
</div>


y