
:host{
	position: relative;
	width: 100%;
	height: 100%;
}
.canvas-space-wrap{
	display: block;
	width:100%;
	height:100%;
}
.image-space-webview{
	display: block;
	display:flex;
	flex:1;
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	overflow:hidden;
}