<div class="canvas-space-wrap scrollbar-override" >
  <div id="canvas-top-bar" class="f jcsb aic">
    <!-- 画布尺寸 -->
    <div id="canvas-size" *ngIf="canvasService.width && canvasService.height">{{ canvasService.width }}&times;{{ canvasService.height }}</div>
    <div style="flex:1"></div>
    <div>
      <app-audio-manager></app-audio-manager>
    </div>
  </div>
  <webview
    (contextmenu)="showContextMenu()"
    #webview
    src="./template/temp1/temp1.html"
    class="image-space-webview"
    minwidth="0"
    preload="./webview.js"
  >
  </webview>
</div>
