:host {
	
}
#root {
	align-items: stretch;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #cccccc;
	display: flex;
	flex-direction: column;
}
#top-half {
	flex: 1;
	display: flex;
}